<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>me</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../static/css/me.css">
	<link rel="stylesheet" href="../../static/css/footer.css">
</head>
<body>
	<div id="login">
		<ul class="top">
			<li></li>
			<li><b>我</b></li>
			<li id="set"></li>
		</ul>

		<div class="container">
			<div class="container-top"><span class="container-left"></span><span class="text3">点击登录/注册</span></div>
			<div class="container-flex">
				<div class="cf-left"><span class="text">0</span><span class="text2">收藏</span></div>
				<div class="cf-right"><span class="text">0</span><span class="text2">积分</span></div>
			</div>
		</div>

		<div id="content1" class="content">
			<div class="con1"><span class="conleft1"></span><span class="conmiddle">我发布的需求</span><span class="conright"></span></div>
		</div>
		<div id="content2" class="content">
			<div class="con1"><span class="conleft2"></span><span class="conmiddle">我发布的房源</span><span class="conright"></span></div>
		</div>
		<div id="content3" class="content">
			<div class="con1"><span class="conleft3"></span><span class="conmiddle">我预约的房源</span><span class="conright"></span></div>
		</div>
		<div id="content4" class="content">
			<div class="con1"><span class="conleft4"></span><span class="conmiddle">历史交易</span><span class="conright"></span></div>
		</div>
		<div id="content5" class="content">
			<div class="con1"><span class="conleft5"></span><span class="conmiddle">过期房源</span><span class="conright"></span></div>
		</div>
	</div>


	<ul class="foot">
		<li class="li-1 active1"><a href="../index.html">首页</a></li>
		<li class="li-2">预约</li>
		<li class="li-3"></li>
		<li class="li-4">信息 <div class="num">3</div></li>
		<li class="active5">我</li>
	</ul>
</body>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="../../static/js/footer.js"></script>
<script>

	$('#login' ).click(function(){
		window.location.href = '../login/login.html';
	});


</script>
</html>