*{
	margin:0;
	padding:0;
}
input,button,select,textarea{outline:none;}
textarea{resize:none}
body{
	background: #f2f2f2;
	font-family: 微软雅黑;
}
.container{
	height: 100%;
}
.content,.content2{
	width: 100%;
	background: #ffffff;
	padding: 8px 0;
}
.content div:not(:first-child){
	margin-top: 10px;
}
.content div input{
	display: block;
	width:60%;
	margin: 0 auto ;
	height:40px;
	border-radius: 5px;
	background: #eee;
	border:1px solid #ccc;
}
.add{
	width: 120px;
	height:80px;
	border-bottom: 1px solid #eee;
	margin: 0 auto ;
	color: #f1f1f1;
}
.add-p{
	width:70px;
	height:70px;
	line-height: 70px;
	text-align: center;
	border-radius: 50%;
	background: #878787;
	margin: auto;
}
.p{
	height:40px;
	line-height: 40px;
	color: #999;
	padding-left: 50px;
	border-top:1px solid #ccc;
}
#btn{
	width: 92%;
	margin:40px auto 0 auto;
	background: #ea5404;
	height: 60px;
	border-radius: 10px;
	font-size: 22px;
	color: #f1f1f1;
	text-align: center;
	line-height:60px;
	cursor: pointer;
}
.content2{
	padding: 8px 0;
}
.content2 .cate,.card{
	width:120px;
	margin: 0 auto;
	height:50px;
	border-radius: 5px;
	border:1px solid #ccc;
	text-align: center;
	line-height: 50px;
	background: #878787;
	color: #f1f1f1;
}