body{
	background: #f2f2f2;
	font-family: 微软雅黑;
}
ul li{
	 list-style: none;
}
.top{
	height: 50px;
	display: flex;
	list-style: none;
	background: #fff;
}
.top li{
	height:50px;
	flex: 1;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
}
.top li:nth-child(2){
	flex:2;
}
.top li:first-child{
	height:50px;
	background: url("../img/nav_back_icon@2x.png") no-repeat 15px ;
	background-size: 15px;
}
.flex-box2{
	margin: 10px 0;
	background: #fff;
}
.flex-box2 ,.flex-box2-top,.flex-box2-bottom{
	display: flex;
}
.flex-box2>li{
	list-style: none;
	height:105px;
}
.flex-box2>li:first-child{
	flex:1;
	/*border: 1px solid #ccc;*/
	height:105px;
	background: url("../img/content_img_list@2x.png") no-repeat center;
	background-size: 90px;
}
.flex-box2>li:last-child{
	flex:2;
	/*border: 1px solid #ccc;*/
}
.flex-box2>li>ul{
	padding: 10px 0 0 10px;
}
.flex-box2>li>ul>li:nth-child(2){
	font-size: 10pt;
}
.flex-box2>li>ul>li:nth-child(3){
	width:70px;
	height:16px;
	line-height: 16px;
	text-align: center;
	border:1px solid orange;
	border-radius: 5px;
	color: orange;
	font-size: 10pt;
}

.flex-box2-top li:first-child,.flex-box2-bottom li:first-child{
	flex:2;
}
.flex-box2-top li:last-child{
	flex:1;
	padding-right: 15px;
	text-align: right;
}
.flex-box2-bottom li:first-child span:first-child{
	color: red;
	font-size: 14pt;
}
.flex-box2-bottom li:first-child span:last-child{
	font-size: 10pt;
}
.flex-box2-bottom li:last-child{
	font-size: 10pt;
	line-height: 33px;
	padding-right: 10px;
}

