.foot{
	position: fixed ;
	bottom:0;
	left: 0;
	right:0;
	display: flex;
	width:100%;
	height:68px;
	background: #ffffff;

}
.foot li{
	position: relative;
	list-style: none;
	text-align: center;
	height: 68px;
	flex:1;
}
.foot .li-1{
	height: 68px;
	line-height: 98px;
	background: url("../img/bottom_nor_icon04@2x.png") no-repeat center 10px;
	background-size: 21px;
}
.active1{
	height: 68px;
	line-height: 98px;
	background: url("../img/bottom_press_icon04@2x.png") no-repeat center 10px;
	background-size: 21px;
}
.foot .li-2{
	height: 68px;
	line-height: 98px;
	background: url("../img/bottom_nor_icon03@2x.png") no-repeat center 10px;
	background-size: 21px;
}
.active2{
	height: 68px;
	line-height: 98px;
	background: url("../img/bottom_press_icon03@2x.png") no-repeat center 10px;
	background-size: 21px;
}
.foot .li-3{
	height: 68px;
	background: url("../img/bottom_icon05@2x.png") no-repeat center 5px;
	background-size: 63px;
}
.foot .li-4{
	position: relative;
	height: 68px;
	line-height: 98px;
	background: url("../img/bottom_nor_icon02@2x.png") no-repeat center 10px;
	background-size: 21px;
}
.active4{
	position: relative;
	height: 68px;
	line-height: 98px;
	background: url("../img/bottom_press_icon02@2x.png") no-repeat center 10px;
	background-size: 21px;
}
.foot .li-5{
	height: 68px;
	line-height: 98px;
	background: url("../img/bottom_nor_icon01@2x.png") no-repeat center 10px;
	background-size: 21px;
}
.active5{
	height: 68px;
	line-height: 98px;
	background: url("../img/bottom_press_icon01@2x.png") no-repeat center 10px;
	background-size: 21px;
}

.num{
	position: absolute;
	top:2px;
	right:50%;
	height: 20px;
	width:20px;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
	background: red;
	color: #fff;
	
}