*{
	margin:0;
	padding:0;
}
input,button,select,textarea{outline:none;border:none;}
textarea{resize:none}
body{
	background: #f2f2f2;
	font-family: 微软雅黑;
}
.nav{
	background: url("../img/nav_back_icon@2x.png") no-repeat 50px 25px;
	width: 100%;
	height:88px;
	color: red;
	text-align: center;
	line-height: 88px;
	background-color: #ffffff;
}
.container{
	height: 100%;
	padding-top: 40px;
	overflow: hidden;
}
.content{
	width: 100%;
	overflow: hidden;
	background: #ffffff;
}
.content div{
	height:48px;
	width: 90%;
	margin: 0 auto ;
	padding:5px 0 5px 50px;
	line-height: 48px;
}
.content div:first-child{
	background: url("../img/content_ID_icon@2x.png") no-repeat 20px 18px;
	background-size: 25px;
	border-bottom: 2px solid #ccc;
}
.content div:last-child{
	background: url("../img/content_password_icon@2x.png") no-repeat 22px 16px;
	background-size: 20px;
}
.content div input{
	width:60%;
	height:30px;
	/*padding-left: 80px;*/
}
#btn{
	width: 92%;
	margin:20px auto 0 auto;
	background: #ccc;
	height: 60px;
	border-radius: 10px;
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	line-height:60px;
	cursor: pointer;
}
.foot{
	width: 90%;
	margin:20px auto 0 auto;
}
.foot a{
	text-decoration: none;
}
.foot a:first-child{
	float: left;
	color: #ffae19;
}
.foot a:last-child{
	float: right;
	color: #323232;
}