body{
	background: #f2f2f2;
	overflow: hidden;
	font-family: 微软雅黑;
}
.top{
	width: 100%;
	height:40px;
	background: #ffffff;
	position: absolute;
	top:0;
	left:0;
	right:0;
	padding: 15px 0 10px 0;
}
.top ul{
	width:242px;
	height: 100%;
	overflow: hidden;
	border:1px solid red;
	border-radius: 5px;
	margin:0 auto;
}
.top ul li{
	display: block;
	list-style: none;
	float: left;
	width: 80px;
	line-height: 40px;
	color: red;
	text-align: center;
}
.top ul li:first-child{
	border-right: 1px solid red;
}
.top ul li:last-child{
	border-left: 1px solid red;
}
.top ul li:hover{
	background: #ea5404;
	color: #fff;
}
.top ul li.active{
	background: #ea5404;
	color: #fff;
}
.content{
	padding: 0 15px ;
}
.content-li{
	margin-top: 10px;
	border-radius: 10px;
	width: 100%;
	/*height:180px;*/
	background: #ffffff;
	box-shadow:  0 0 3px 2px #dcdae0;
}
.li-top{
	height:50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
}
.container-notice .li-top div:first-child,.container-news .li-top div:first-child,.container-needs .li-top div:first-child{
	padding-left: 5px;
	float: left;
	font-weight: bold;
}
.li-top div:last-child{
	float: right;
	padding-right: 5px;
}
.container-needs .li-top div:last-child{
	float: right;
	width: 50px;
	height:30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	margin: 10px 10px;
}
.on1{
	background: #15b755;
}
.on2{
	background: #0193e6;
}
.on3{
	background: #97b715;
}
.on4{
	background: #ea5404;
}
.li-p{
	padding: 5px 15px;
}
.li-p p{
	line-height: 30px;
}
.li-p p:first-child{
	text-indent:2em;
}
.container-needs .li-p p:last-child{
	height:30px;
}
.container-needs .li-p .center{
	display: inline-block;
	width: 80px;
	height:30px;
	line-height: 30px;
	background: #e1e1e1;
	border-radius: 5px;
	text-align: center;
	float: left;
	margin-left: 36%;
}
.container-needs .li-p .right{
	display: inline-block;
	float: right;
	font-size: 12px;
}
.foot .active4{
	position: relative;
	height: 68px;
	line-height: 98px;
	background: url("../img/bottom_press_icon02@2x.png") no-repeat center 10px;
	background-size: 21px;
	color: red;
}
.container-notice,.container-news,.container-needs{
	position: absolute;
	top:85px;
	left:0;
	right:0;
	bottom:68px;
	overflow-y: auto;
}
.container-news{
	display: none;
}
.container-needs{
	display: none;
}