<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>release-home</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../static/css/release-home.css">
	<link rel="stylesheet" href="../../static/css/upload.css">
</head>
<body>
	<ul class="top">
		<li class="back"><b>取消</b></li>
		<li><b>发布房源</b></li>
		<li></li>
	</ul>
	<ul class="search">
		<li class="search-home"><input type="text" placeholder="搜索大厦"></li>
		<li id="addhome"><span>新增楼盘</span></li>
	</ul>

	<dl>
		<dt><span class="green-round"></span>&nbsp;大厦信息</dt>
		<dd>商圈: <input type="text" placeholder="浦东"></dd>
		<dd>物业:<input type="text" placeholder="上海浦东物业"></dd>
		<dd>层数:<input type="text" placeholder="23层"></dd>
		<dd>层高:<input type="text" placeholder="标准4,5米"></dd>
		<dd>车位:<input type="text" placeholder="地上三十个，天上很多"></dd>
		<dd>电梯:<input type="text" placeholder="客梯1,，货梯8"></dd>
		<dd>空调:<input type="text" placeholder="中央空调"></dd>
		<dd>入驻企业:<input type="text" placeholder="顺城地产"></dd>
		<dd>地铁:<input type="text" placeholder="世纪大道步行1分钟"></dd>
	</dl>

	<div class="content">
		<ul class="con-top">
			<li><span class="blue-round"></span>&nbsp;房源信息</li>
			<li>请选择发布房源的属性</li>
		</ul>
		<ul class="con-flex">
			<li>整层</li>
			<li>整栋</li>
			<li>众创空间</li>
			<li>商务中心</li>
			<li class="ll">创意产业园</li>
			<li>写字楼</li>
			<li>工位</li>
		</ul>
		<div class="clear"></div>

		<ul class="con-con">
			<li>房源面积&nbsp;<input type="text" placeholder="20">&nbsp;m²</li>
			<li>房源单价&nbsp;<input type="text" placeholder="6.5">&nbsp;元/m²/天</li>
			<li class="long">交付状态&nbsp;<input type="text" placeholder="标准交付"></li>
			<li>交付日期&nbsp;<input type="text" placeholder="2016-11-10">&nbsp;<span class="red-img red-img1 red-active">是否现房</span></li>
			<li class="long">最短日期&nbsp;<input type="text" placeholder="2年"></li>
			<li>付款方式&nbsp;<input type="text" placeholder="押一付三">&nbsp;<span class="red-img red-img2">是否含发票</span></li>
			<li>是否结佣&nbsp;<input type="text" placeholder="一个月">&nbsp;<span class="red-img red-img3">是</span></li>
			<li class="long">装修免租&nbsp;<input type="text" placeholder="一个月"></li>
			<li>看房时间&nbsp;<input type="text" placeholder="8:00">&nbsp;<input type="text" placeholder="20:00"></li>
			<li>房源简介&nbsp;<textarea placeholder="房源简介"></textarea></li>
		</ul>
		<div class="add-flex">
			<div class="add">
				<span class="add-img"></span>
				<span>添加图片</span>
			</div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div id="btn">确认发布</div>
	<div class="all">
		<div class="container">
			<div class="container-top">您确定要退出此次发布?</div>
			<div class="flex">
				<div class="flex-left">取消</div>
				<div class="flex-right">确定</div>
			</div>
		</div>
	</div>

	<div class="all2" style="background: rgba(34, 34, 34, 0.52)">
		<div class="all-content">
			<div class="all-con-top">房源发布成功，请稍后</div>
			<div class="all-con-bottom">确定</div>
		</div>
	</div>
</body>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script>
$('.red-img,.con-flex li' ).click(function(){
	$(this ).toggleClass('red-active');
});
$('.back' ).click(function(){
	$('.all' ).show();
});
$('.flex-left' ).click(function(){
	$('.all' ).hide();
});
$('.flex-right' ).click(function(){
	$('.all' ).hide();
});
$('#addhome' ).click(function(){
	location.href = 'addHome.html';
});
$('#btn' ).click(function(){
	$('.all2' ).show();
});
$('.all-con-bottom' ).click(function(){
	$('.all2' ).hide();
});
$('.search-home' ).click(function(){
	location.href = 'releaseSearch.html';
})

</script>
</html>