<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>nav</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../static/css/nav.css">
</head>
<body>
	<ul class="flex-box1">
		<li class="box box-area">区域</li>
		<li class="box box-square">面积</li>
		<li class="box box-price">单价</li>
		<li class="box box-more">更多</li>
		<li class="box box-img"></li>
	</ul>
	<ul class="fb-price on">
		<li>全部</li>
		<li>3元/m²/天以下</li>
		<li>3-5元/m²/天</li>
		<li>5-10元/m²/天</li>
		<li>10-20元/m²/天</li>
		<li>20-30元/m²/天</li>
		<li>30元/m²/天以上</li>
		<li><input type="text"> --<input type="text"><input type="text" value="确定"></li>
	</ul>
	<ul class="fb-square on">
		<li>全部</li>
		<li>80/m²以下</li>
		<li>80-100/m²</li>
		<li>100-200/m²</li>
		<li>200-300/m²</li>
		<li>300-500/m²</li>
		<li>500/m²以上</li>
		<li><input type="text"> --<input type="text"><input type="text" value="确定"></li>
	</ul>
	<ul class="nav-more">
		<li>
			<ul class="fb-more">
				<li>地铁</li>
				<li>房型</li>
				<li>装修</li>
			</ul>
		</li>
		<li>
			<ul class="fm-metro">
				<li>全部</li>
				<li>一号线</li>
				<li>二号线</li>
				<li>三号线</li>
				<li>四号线</li>
				<li>五号线</li>
			</ul>
			<ul class="fm-home">
				<li>全部</li>
				<li>众创空间</li>
				<li>商务中心</li>
				<li>写字楼</li>
				<li>整栋</li>
				<li>整层</li>
			</ul>
			<ul class="fm-fitting">
				<li>全部</li>
				<li>豪装</li>
				<li>精装</li>
				<li>简装</li>
				<li>标准交付</li>
				<li>毛坯</li>
			</ul>
		</li>
	</ul>

	<ul class="area-more">
		<li>
			<ul class="am-more">
				<li>全部</li>
				<li>闵行</li>
				<li>浦东</li>
				<li>嘉定</li>
				<li>宝山</li>
				<li>闸北</li>
				<li>松江</li>
				<li>徐汇</li>
			</ul>
		</li>
		<li>
			<ul class="am-metro">
				<li>全部</li>
				<li>一号线</li>
				<li>二号线</li>
				<li>三号线</li>
				<li>四号线</li>
				<li>五号线</li>
			</ul>
			<ul class="am-home">
				<li>全部</li>
				<li>众创空间</li>
				<li>商务中心</li>
				<li>写字楼</li>
				<li>整栋</li>
				<li>整层</li>
			</ul>
			<ul class="am-fitting">
				<li>全部</li>
				<li>豪装</li>
				<li>精装</li>
				<li>简装</li>
				<li>标准交付</li>
				<li>毛坯</li>
			</ul>
		</li>
	</ul>
</body>
<script src="../../static/js/jquery-2.1.4.min.js"></script>
<script src="../../static/js/nav.js"></script>
</html>